body{
	background-image: url("breakfast.jpeg");
	background-color: white
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Merriweather', serif;
}

h1 {
color:rgb(239, 97, 9);

}

h2{
	color:rgb(42, 114, 3);

}